*,html {
    margin: 0;
    padding: 0;
}

.body {
    
}
.navbar {
    background-color: #333;
    width: 100%;
    height: 10vh;
}

.ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.li {
    list-style-type: none;
    padding: 15px;
    color: white;
    margin: 5px;
    font-size: 20px ;
}

.li:hover {
    background-color: tomato;
    transition: .5s ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
}

.home {
    color: white;
    text-decoration: none;
}

.content {
    background-color: darkgrey;
    display: flex;
    justify-content:center;
    height: 80vh;
    
}

.margin {
    margin: ;
    height: fit-content;
    width: 800px;
    height: 120px;
}

.a-content {
    width: 100%;
    height: 80%;
    background-color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 80px;
    box-shadow: 8px 8px 3px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin-top: 5vh;
}

.b-content {
    width: 100%;
    height: 80%;
    background-color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 80px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin-top:5vh ;
}

.c-content {
    width: 100%;
    height: 80%;
    background-color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 80px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin-top: 5vh;
    
}

.img {
    width: 50%;
    height: 70%;
    border-radius: 100px;
}

.footer {
    height: 10vh;
    background-color: crimson   ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hfooter {
    font-size: 6vh;
    color: white;
}